<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login - Aluno</title>
</head>
<body>
	<h2>Login - Aluno</h2>
	
	<p style="color: blue"><span th:text="${mensagem}"></span></p>
	
	<form method="POST" action="validateAluno">
		<label>Email</label>
		<input type="text" placeholder="email" name="login"/>
		<br>
		<label>Nome</label>
		<input type="text" placeholder="nome" name="nome"/>
		<br>
		<label>Matricula</label>
		<input type="text" placeholder="matricula" name="matricula"/>
		<br>
		<br>
		
		<label>Pais</label>
		<select name="pais">
			<option th:each="pais : ${paises}" th:value="${pais}" th:text="${pais}"/>
		</select>
		
		<br>
		<label>Linguagem de Programção</label> <br>
		<input name="linguagem" type="radio"
			th:each="linguagem : ${linguagens}"
			th:text="${linguagem}"
			th:value="${linguagem}"/>
		<br>
		
		<label>Fluencia</label><br>
		<input name="fluencia" type="checkbox"
			th:each="lingua : ${linguas}"
			th:text="${lingua}"
			th:value="${lingua}"/>
		<br>
		<input type="submit" value="Login"/>
		
	</form>
</body>
</html>