<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login - Aluno</title>
</head>
<body>
	<h2>Login - Aluno</h2>
	
	<p style="color: blue"><span th:text="${mensagem}"></span></p>
	
	<form method="POST" action="cadastro" th:object="${aluno}">
		<input type="hidden" th:field="*{id}"/>
		<label>Nome</label>
		<input type="text" placeholder="nome" name="nome" th:field="*{nome}"/>
		<br>
		<label>Email</label>
		<input type="text" placeholder="email" name="login" th:field="*{login}"/>
		<br>
		<label>Matricula</label>
		<input type="text" placeholder="matricula" name="matricula" th:field="*{matricula}"/>
		<br>
		<br>
		
		<label>Pais</label>
		<select name="pais" th:field="*{pais}">
			<option th:each="pais : ${paises}" th:value="${pais}" th:text="${pais}"/>
		</select>
		
		<br>
		<label>Linguagem de Programção</label> <br>
		<input name="linguagem" type="radio"
			th:each="linguagem : ${linguagens}"
			th:text="${linguagem}"
			th:value="${linguagem}" th:field="*{linguagem}"/>
		<br>
		
		<label>Fluencia</label><br>
		<input name="fluencia" type="checkbox"
			th:each="lingua : ${linguas}"
			th:text="${lingua}"
			th:value="${lingua}" th:field="*{fluencia}"/>
		<br>
		<input type="submit" value="Cadastrar"/>
		
	</form>
</body>
</html>